---
import type { GetStaticPaths } from "astro";

import Layout from "../../layouts/layout.astro";
import Section from "../../layouts/section.astro";
import FeedItem from "../../components/feed-item.astro";
import Title from "../../components/title.astro";

import { collectFeeds, fetchFeed } from "../../feed/fetch";
import { siteList } from "../../feed/list";

export const getStaticPaths = (async () =>
  (
    await Promise.all(
      siteList.map(async (info) => {
        const feed = await fetchFeed(
          info.rss,
          info.title,
          info.url,
          info.param,
        );
        if (feed === undefined) return;
        return { params: { site: info.param }, props: { ...info, feed } };
      }),
    )
  ).filter((i) => i !== undefined)) satisfies GetStaticPaths;

const {
  feed: { title, description, items },
  logo,
} = Astro.props;
---

<Layout>
  <main>
    <Section>
      <div class="flex gap-4 items-center">
        <img src={logo} alt=`${title} icon` class="w-12" />
        <div>
          <Title>{title}</Title>
          {description && <p>{description}</p>}
        </div>
      </div>
      <div class="grid gap-4">
        {
          items.map((item) => (
            <FeedItem
              link={item.link}
              pubDate={item.pubDate}
              title={item.title}
              creator={item.creator}
              contentSnippet={item.contentSnippet}
            />
          ))
        }
      </div>
    </Section>
  </main>
</Layout>
