---
import Layout from "../layouts/layout.astro";
import Section from "../layouts/section.astro";
import Title from "../components/title.astro";
import FeedItem from "../components/feed-item.astro";

import { collectAllItems } from "../feed/fetch";
import { siteList } from "../feed/list";

const items = await collectAllItems(siteList);
---

<Layout>
  <main>
    <Section>
      <Title>All</Title>
      <div class="grid gap-4">
        {
          items.map((item) => (
            <FeedItem
              link={item.link}
              pubDate={item.pubDate}
              site={item.site}
              title={item.title}
              param={item.param}
              creator={item.creator}
              contentSnippet={item.contentSnippet}
            />
          ))
        }
      </div>
    </Section>
  </main>
</Layout>
