---
import Layout from "../layouts/layout.astro";
import Section from "../layouts/section.astro";
import FeedItem from "../components/feed-item.astro";
import LinkButton from "../components/link-button.astro";
import LinkCard from "../components/link-card.astro";
import Title from "../components/title.astro";

import { collectAllItems } from "../feed/fetch";
import { siteList } from "../feed/list";

const items = await collectAllItems(siteList);
---

<Layout>
  <main>
    <Section>
      <div class="grid gap-4">
        {
          items
            .slice(0, 5)
            .map((item) => (
              <FeedItem
                link={item.link}
                pubDate={item.pubDate}
                site={item.site}
                title={item.title}
                param={item.param}
                creator={item.creator}
                contentSnippet={item.contentSnippet}
              />
            ))
        }
      </div>
      <LinkButton href="weekly">もっと見る</LinkButton>
    </Section>
    <Section>
      <Title>ソース</Title>
      <div class="grid grid-cols-1 gap-8 mx-auto sm:grid-cols-2">
        {
          siteList.map((s) => (
            <LinkCard
              param={s.param}
              logo={s.logo}
              title={s.title}
              url={s.url}
            />
          ))
        }
      </div>
    </Section>
  </main>
</Layout>
