---
import { Icon } from "astro-icon/components";
import { getColor } from "../feed/list";

type Props = {
  link: string;
  pubDate: string;
  title: string;
  param?: string;
  creator?: string;
  contentSnippet?: string;
  site?: string;
};

const { link, title, creator, contentSnippet, site, param } = Astro.props;
---

<a class="block py-4" href={link}>
  <article>
    <div
      class="flex items-center gap-1 text-sm"
      style={param && `color:${getColor(param)}`}
    >
      {site}
    </div>
    <h1 class="pt-2 text-xl text-zinc-900">{title}</h1>
    {
      creator && (
        <div class="flex items-center gap-1">
          <Icon name="lucide:user-round-pen" />
          {creator}
        </div>
      )
    }
    {
      contentSnippet && (
        <p class="pt-4 text-sm text-zinc-600 line-clamp-2 text-ellipsis break-words break-all">
          {contentSnippet}
        </p>
      )
    }
  </article>
</a>
