---
import { Icon } from "astro-icon/components";
import { pub } from "../utils";

type Props = {
  param: string;
  logo: string;
  title: string;
  url: string;
};

const { param, logo, title, url } = Astro.props;
---

<div class="flex gap-4 items-center">
  <a class="block flex-shrink-0" href={pub(`feed/${param}`)}>
    <div
      class="p-4 bg-white rounded-full hover:shadow-lg focus:shadow-lg transition-all"
    >
      <img class="w-16 h-16" src={pub(logo)} alt={`${title} logo`} />
    </div>
  </a>
  <div>
    <div class="text-2xl leading-tight">{title}</div>
    <a
      class="block pt-2 break-all underline hover:no-underline focus:no-underline leading-none"
      href={url}
      target="_blank"
      rel="noopener noreferrer"
    >
      <Icon name="lucide:external-link" class="inline-block" />
      {url}
    </a>
  </div>
</div>
