---
import { Icon } from "astro-icon/components";

import { getColor, siteList } from "../feed/list";

const feed = [
  ["", "ホーム"],
  ["all", "すべて"],
  ["weekly", "今週"],
];
---

<header>
  <div class="flex items-center justify-between mx-auto px-4 py-6 max-w-3xl">
    <h1 class="title">
      <a
        class="flex gap-1 items-center text-lg font-bold leading-none"
        href="/"
      >
        <img class="h-12" src="/tayori.svg" alt="たより" />
      </a>
    </h1>
    <div class="flex items-center gap-2">
      <button
        class="global-nav-button flex gap-1 items-center px-2 py-1 hover:bg-zinc-200 focus:bg-zinc-200 active:bg-zinc-300 rounded transition-colors"
        popovertarget="nav-dialog"
      >
        <Icon name="lucide:align-left" />メニュー
      </button>
      <dialog
        id="nav-dialog"
        class="global-nav-dialog m-0 px-6 py-4 min-w-72 border border-solid border-zinc-300 bg-zinc-50 rounded-md shadow-md"
        popover
      >
        <nav class="global-nav">
          <button
            class="flex gap-1 items-center ml-auto px-2 py-1 hover:bg-zinc-200 focus:bg-zinc-200 active:bg-zinc-300 rounded transition-colors"
            popovertarget="nav-dialog"
            autofocus
          >
            <Icon name="lucide:x" />閉じる
          </button>
          <ul class="space-y-4">
            <li>
              <div class="pt-4 text-xl">フィード</div>
              <ul class="grid grid-cols-1 gap-x-4 gap-y-2 pt-2 sm:grid-cols-2">
                {
                  feed.map(([link, title]) => (
                    <li class="px-2 py-1 rounded bg-zinc-100 hover:bg-zinc-200 focus:bg-zinc-200 active:bg-zinc-300 transition-colors">
                      <a href={link}>{title}</a>
                    </li>
                  ))
                }
              </ul>
            </li>
            <li>
              <div class="pt-4 text-xl">サイト</div>
              <ul class="grid grid-cols-1 gap-x-4 gap-y-2 pt-2 sm:grid-cols-2">
                {
                  siteList.map((site, i) => (
                    <li class="px-2 py-1 rounded bg-zinc-100 hover:bg-zinc-200 focus:bg-zinc-200 active:bg-zinc-300 transition-colors sm:max-w-48">
                      <a
                        class="flex gap-3 items-center"
                        href={`/feed/${site.param}`}
                      >
                        <img
                          src={site.logo}
                          alt="アイコン"
                          class="inline-block w-6 rounded-full"
                        />
                        {site.title}
                      </a>
                    </li>
                  ))
                }
              </ul>
            </li>
          </ul>
        </nav>
      </dialog>
    </div>
  </div>
</header>

<style>
  .global-nav-button {
    anchor-name: --anchor;
  }

  .global-nav-dialog {
    position-anchor: --anchor;
    bottom: auto;
    left: auto;
    right: 16px; /* fallback */
    right: anchor(right);
    top: 8px; /* fallback */
    top: anchor(top);
  }
</style>
